[Unit]
Description=Rust-Risk Server

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rrserver
WorkingDirectory=/var/www/Risk/
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
